.ant-table-cell {
    border: 2px solid #fff;
    border-inline-end: #fff !important;
  }
.ant-table-row{
    border: none;
}


td{
    border-bottom: 0px solid #fff !important;
}

.row-employee{
    background-color: #F8F9FA;
}




  